* {
  /*border: 1px solid red;*/
  font-family: ubuntu;
  font-weight: bold;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-image: linear-gradient(to left, rgb(44, 44, 82), rgb(34, 34, 141));
}

h1 {
  display: flex;
  color: white;
  justify-content: center;
  font-size: 55px;
  font-weight: bold;
  margin-bottom: 10px;
}

h3,
h4 {
  display: flex;
  color: white;
  justify-content: center;
}

.loader {
  padding: 10px;
  width: 300px;
  margin-left: 510px;
  font-size: large;
  border: 3px black solid;
  border-radius: 10px;
  margin-bottom: 5px;
}

.container {
  display: flex;
  padding: 300px, 300px;
  background-color: rgb(135, 158, 222);
  justify-content: center;
}

.senior-div {
  display: flex;
  background-color: rgb(44, 44, 82);
  margin: 0;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 40px;
}

.junior-div {
  display: flex;
  flex: auto;
  background-color: rgb(218, 218, 218);
  padding: 9px;
  margin: 1px;
  border: 1px solid rgb(146, 146, 146);
}

.colors {
  display: flex;
  justify-content: center;
  border: 5px solid rgb(58, 35, 14);
  background-color: rgb(218, 200, 178);
  margin-left: 250px;
  margin-right: 250px;
}

.red {
  padding: 22px;
  background-color: red;
  margin: 5px;
  border: 3px solid black;
}

.orange {
  padding: 22px;
  background-color: orange;
  margin: 5px;
  border: 3px solid black;
}

.orange {
  padding: 22px;
  background-color: orange;
  margin: 5px;
  border: 3px solid black;
}

.yellow {
  padding: 22px;
  background-color: yellow;
  margin: 5px;
  border: 3px solid black;
}

.green {
  padding: 22px;
  background-color: green;
  margin: 5px;
  border: 3px solid black;
}

.blue {
  padding: 22px;
  background-color: mediumblue;
  margin: 5px;
  border: 3px solid black;
}

.indigo {
  padding: 22px;
  background-color: rgb(50, 0, 130);
  margin: 5px;
  border: 3px solid black;
}

.violet {
  padding: 22px;
  background-color: purple;
  margin: 5px;
  border: 3px solid black;
}

.gray {
  padding: 22px;
  background-color: rgb(145, 145, 145);
  margin: 5px;
  border: 3px solid black;
}

.brown {
  padding: 22px;
  background-color: rgb(107, 72, 31);
  margin: 5px;
  border: 3px solid black;
}

.pink {
  padding: 22px;
  background-color: rgb(255, 96, 229);
  margin: 5px;
  border: 3px solid black;
}

.black {
  padding: 22px;
  background-color: black;
  margin: 5px;
  border: 3px solid rgb(58, 58, 58);
}

.eraser {
  padding: 8px;
  background-color: white;
  margin: 5px;
  border: 3px solid magenta;
  font-size: 21px;
}
